@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');
*{
  margin:0px;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1{
  color:white;
  font-size: 100px;
}


.bg {
  background-image:   linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('website/Banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
}

.button{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  transition: all 0.3s ease 0s;
  border: 5px solid #59CF02;
  background: none;
  color:  white;
  cursor: pointer;
  border-radius: 20px;
}
.button:hover{
background-color: #59CF02;
color:white;
}
.formcontainer{
  background-color: rgba(0,0,0,.8);
  width: 100%;
  border: 3px solid #59CF02;
   border-radius: 25px;

}
.formcontainer .form{
  width: 100%;
}
.formcontainer .form .input_field{
  margin-bottom: 4%;
  align-items: center;
}
.formcontainer .form .input_field label{
  width: 170px;
  color: black;
  margin-right: 10px;
  font-size: 17px;
}
.formcontainer .form .input_field .input{
width: 70%;
height: 60px;
outline: none;
border-radius: 20px;
border:1px solid grey;
font-size: 20px;
padding: 8px 10px;
transition: all 0.3 ease;
}

.formcontainer .form .input_field .input:focus{
border: 3px solid  #59CF02;
border-radius: 20px;
transition: all 0.3 ease;
}
.formcontainer .form .input_field .button{
  width: 50%;
  height: 60px;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  border: 2px solid   #59CF02;
  background: black;
  color:  white;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
}
.formcontainer .form .input_field .button:hover{
    background: #59CF02;
    color: white;
}

.login_a{
  text-decoration: none;
  color:white;
    transition: all 0.3s ease 0s;
}
.login_a:hover{
  color:#00acee;
}
.login_image{
  width: 200px;
  border-radius: 100%;
  border: 1px solid rgba(105, 105, 105, 0.1)
}
.login_image:hover{
  border: 5px solid #00acee;
    transition: all 0.3s ease 0s;
}
