@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');
*{
  margin:0px;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1{
  color:white;
  font-size: 100px;
}


.bg {
  background-image: url("Banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 500px
}
.button{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  transition: all 0.3s ease 0s;
  border: 5px solid #59CF02;
  background: none;
  color:  white;
  cursor: pointer;
  border-radius: 20px;
}
.button:hover{
background-color: #59CF02;
color:white;
}
